FAL_KEY=95bbf734-f076-4bf8-902f-fbfb659e924b:3cc9421e1c3155b7f27d74093025dfa5
NEXT_PUBLIC_STABILITY_API_KEY=sk-QQGmCAAhSxexyeaEogpsRKYy96khND82FdiMOM4rVx0iaiRU
BING_IMAGE_COOKIE=1i9WDnVaqWpSWJHPQOLqi_Oo-9-jCAv3lfGiTEOTD5r8DnRSUqafRFVy-ZPZ9YdKTf7fqLMPM7mIxKbXOxQDxccc-qTnUZiIblvoWopsKaFL4gVocxZwdlG7T7IRFMYj5UwKRMxhBCy27Lg1hkdoWNyHJbUlc_5G9wHTD1DRFC8CKniagSIIylvSRFlpTnHZ72rlvcK5O6luwB6d6kossTA
NEXT_PUBLIC_VNP_TMNCODE=RRDJG3UC
NEXT_PUBLIC_VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
NEXT_PUBLIC_VNP_HASHSECRET=JMDVTGRMRWLOYJAZZXDMVRRPCGOBLBLT
NEXT_PUBLIC_BACK_END=http://27.72.246.67:8051
NEXT_PUBLIC_APP_URL=http://27.72.246.67:8052
NEXT_PUBLIC_OPENAI_API_KEY=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
NEXT_PUBLIC_CONVEX_URL=https://whimsical-lyrebird-215.convex.cloud
EDGE_STORE_ACCESS_KEY=rak6C1Y1OUnYtT1rdpa0Ld2e26IXWaSt
EDGE_STORE_SECRET_KEY=IrVY8uPhJ99w8FkFl0JlCJk7eqZVEXboDhujSDDrUbHOM91k
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Ym9zcy1ncml6emx5LTE1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_SsWyUdE4NOMUmwSYdlN4FWYOW8AqDwuTeS4i9xipcm
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/ai