@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.cl-userButtonPopoverCard {
  height: 25%;
  width: 20% !important;
}

.cl-internal-b3fm6y {
  background-color: transparent;
}
.cl-card {
  background-color: transparent;
  backdrop-filter: blur(4px);
  width: 100%;
}

.cl-formFieldInput {
  background: rgba(55, 55, 100, 0);
}

.cl-formButtonPrimary {
  overflow: hidden;
  height: 40px;
  background-image: linear-gradient(
    122deg,
    rgb(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
}
.cl-internal-b3fm6y {
  background-image: url("/signin.png");
  background-size: contain; /* Hoặc có thể sử dụng 'contain' hoặc kích thước cụ thể */
  background-repeat: no-repeat; /* Ngăn lặp lại ảnh */
  background-position: start center; /* Căn giữa ảnh */
  /* Các thuộc tính CSS khác để tùy chỉnh nền */
  width: 550px;
  height: 445px;
  margin: 97px 0px 0px 65px;
  transform: rotate(-90deg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-color: transparent;
}

.cl-internal-v37v88 {
  transform: rotate(90deg);
  margin: 30px 0px 0px -55px;
}
.cl-internal-uf3377 {
  transform: rotate(90deg);
  margin: -70px 0px 15px 0px;
}
.gradient-text {
  background: linear-gradient(
    122deg,
    rgba(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.bg-gr {
  background-image: linear-gradient(
    122deg,
    rgb(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
  box-shadow: rgba(161, 128, 255, 0.6) 0px 0px calc(0.5rem) 0px;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
  color: #fff;
}
.bg-gr-hover:hover {
  background-image: linear-gradient(
    122deg,
    rgb(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
  box-shadow: rgba(161, 128, 255, 0.6) 0px 0px calc(0.5rem) 0px;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}
.loading-gr {
  background-image: linear-gradient(
    122deg,
    rgb(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
  box-shadow: rgba(161, 128, 255, 0.6) 0px 0px 30px 0px;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
  color: #fff;
}
.bg-gr-hover {
  background-color: #101622;
}
.white__gradient {
  filter: blur(990px);
}
.border-gr-hover:hover {
  border-width: 1px;
  border-radius: 5px;
  border-image: linear-gradient(
      122deg,
      rgb(250, 85, 96) 0.01%,
      rgb(177, 75, 244) 49.9%,
      rgb(77, 145, 255) 100%
    )
    1;
  border-style: solid;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

.border-gr {
  border-width: 1px;
  border-radius: 5px;
  border-image: linear-gradient(
      122deg,
      rgb(250, 85, 96) 0.01%,
      rgb(177, 75, 244) 49.9%,
      rgb(77, 145, 255) 100%
    )
    1;
}
.border-gr-image:hover {
  border-width: 3px;
  border-image: linear-gradient(
      122deg,
      rgb(250, 85, 96) 0.01%,
      rgb(177, 75, 244) 49.9%,
      rgb(77, 145, 255) 100%
    )
    1;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}
.rotating-element {
  animation: rotate 2.5s linear infinite; /* Chỉnh thời gian, chế độ xoay và vô hạn nếu muốn */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
